$primary: #D8C732;
$primary-light: #F7E43C;
$primary-dark: #4B2C20;
$secundary: #7E2D2D;
$secundary-light: #BB4545;
$secundary-dark: #531E1E;
$text_primary: #BB4545;
$text_secondary: #000000;
$text_card: #ffffff;
$bg-div-html: #df5200;
$bg-div-css: #267ee2;
$bg-div-js:#f8e90f;

//h3
$margin-left-h3:20px;

//Nav
$box-shadow-card: 5px 10px 5px rgb(83, 30, 30);
$font-size-logo: 60px;

//Card
$width-card: 674px;
$height-card: 710px;
$border-radius-card:20px 20px 0px 0px;
$box-shadow-card: 15px 20px 10px rgb(83, 30, 30);
$height-headerC: 100px;

$line-height-tituloC: 0.6;
$margin-left-tituloC:60px; 

$width-imgC: 674px;
$height-imgC: 400px;

$width-buttonC: 638px;
$height-buttonC: 75px;
$margin-left-buttonC: 15px;


$width-iconC: 60px;
$height-iconC: 60px;
$border-radius-iconC: 90%;
$margin-top-iconC: 10px;

$margin-top-card: 90px;
$margin-top-infoCard: 310px;
$margin-bottom-infoCard: 75px;
$line-height-infoCard: 20px;
$font-size-default-infoCard: 15px;

$line-height-textC: 20px;
$font-size-textC: 15px;
$margin-left-textC: 15px;

//Footer
$margin-top-footer: 300px;
